html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-height: 100%;
}


.container {
    flex: 1;
}

#content {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

/* Set CSS variables for header and footer heights */
:root {
    --header-height: 70px; /* Adjust this value based on header height */
    --footer-height: 50px; /* Adjust this value based on footer height */
}


/* Adjust header and footer heights to actual values */
#header {
    height: var(--header-height);
}

#footer {
    height: var(--footer-height);
}