@model DashboardVM
<head>
    <!-- Stylesheet for Dashboard -->
    <link rel="stylesheet" href="~/css/dashboard.css" />

</head>
<div class="container mt-4">
    <!-- Dashboard Heading -->
    <div class="row">
        <div class="col">
            <h3>Dashboard</h3>
        </div>
    </div>

    <!-- Select Term Section -->
    <div class="row mt-3">
        <div class="col">
            <label for="termId" class="form-label">Select Term:</label>
            <select id="termId" class="form-select mb-4">
                @foreach (var term in Model.TermsList)
                {
                    <option value="@term.Id">@term.Name</option>
                }
            </select>
        </div>
    </div>

    <!-- Courses Grid -->
    <div class="row g-4">
        <h4> Courses </h4>
        <div class="col-lg-9" id="courseContainer">
            <!-- Course cards will be loaded here dynamically -->
        </div>

        <!-- Search Box and Course Items -->
        <div class="col-lg-3">
            <div class="input-group mb-3">
                <!-- Search Bar with Bootstrap Search Icon -->
                <span class="input-group-text" id="searchIcon"><i class="bi bi-search"></i></span>
                <input type="text" id="searchBox" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="searchIcon">
            </div>
            <!-- Search Bar Results -->
            <div id="searchResults" class="search-results"></div>

            <h4> To Do </h4>
            <div id="courseItems">
                <!-- Course items will be dynamically populated here -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/dashboard.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}
