@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/homepage.css" />
</head>

<div class="homepage-container text-center">
    <h1 class="display-4">
        Plan your Degree with Ease
    </h1>
    <p class="lead">Plan your academic journey and roadmap your degree. Stay organized and on track towards your educational goals.</p>
    <a class="btn btn-dark btn-lg" href="/Dashboard">Get started     <i class="bi bi-journals"></i></a>
</div>
